.advantages {
  margin-bottom: 152px;
  background-color: $white;
}

.advantages__title {
  margin: 0;
  margin-bottom: 49px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 600;
  color: $color-title;
  text-align: center;
}

.advantages__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages__item {
  width: 303px;
}

.advantages__item:nth-child(4n) {
  margin-right: 0;
}

.advantages__intro {
  margin: 0;
  margin-bottom: 15px;
  font-size: 28px;
  line-height: 38px;
  font-weight: bold;
  color: $bg-green;
  text-align: center;
}

.advantages__content {
  margin: 0;
  font-weight: normal;
  font-size: 22px;
  line-height: 34px;
  color: $black;
  text-align: center;
}

//tablet
@media (max-width: $tablet-width) {
  .advantages {
    margin-bottom: 28px;
  }

  .advantages__title {
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 41px;
  }

  .advantages__item {
    margin-bottom: 43px;
  }

  .advantages__item:nth-child(2n) {
    margin-right: 0;
  }
}

//mobile
@media (max-width: $mobile-width) {
  .advantages {
    margin-bottom: 37px;
  }

  .advantages__list {
    padding: 0 24px;
  }

  .advantages__item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 39px;
  }

  .advantages__content {
    font-size: 18px;
  }
}
