.feedback__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.feedback__item {
  margin-right: 50px;
  margin-bottom: 30px;
}

.feedback__link {
  position: relative;
  padding-left: 47px;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: rgba($black, 0.5%);
  text-decoration: none;

  &::before {
    position: absolute;
    top: 2px;
    left: 5px;
    width: 26px;
    height: 26px;
    background-repeat: no-repeat;
    content: "";
  }

  &:hover,
  &:focus {
    color: rgba($black, 0.8%);
  }

  &:active {
    color: rgba($black, 0.2%);
  }
}

.feedback__link--phone::before {
  background-image: url("../img/icon_mail.svg");
}

.feedback__link--mail::before {
  top: -2px;
  left: 12px;
  background-image: url("../img/icon_phone.svg");
}

//mobile
@media (max-width: $mobile-width) {
  .feedback__list {
    flex-direction: column;
    padding: 0;
  }

  .feedback__item {
    align-self: center;
    margin-right: 0;
    margin-bottom: 22px;
  }
}
