//навигация
.nav {
  position: absolute;
  width: 100%;
}

.nav__inner {
  display: flex;
  flex-direction: column-reverse;
}

.nav__list {
  display: flex;
  width: 870px;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid rgba($white, 0.2%);
}

.nav__item {
  flex-grow: 1;
}

.nav__link--gallery {
  text-align: center;
}

.nav__link--video {
  text-align: center;
}

.nav__link--contacts {
  text-align: right;
}

.nav__link {
  position: relative;
  display: block;
  padding-top: 21px;
  padding-bottom: 9px;
  padding-left: 22px;
  padding-right: 25px;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  line-height: 32px;
  color: rgba($white, 0.7%);
  text-decoration: none;

  &:hover,
  &:focus {
    color: $white;
  }
}

//лого
.nav__wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.nav__logo {
  display: block;
  width: 880px;
  margin-top: 256px;
}

.nav__btn {
  display: none;
}

//tablet
@media (max-width: $tablet-width) {
  .nav__wrapper {
    justify-content: space-between;
  }

  .nav__list {
    width: 100%;
    display: none;
  }
  //logo
  .nav__logo {
    width: 100px;
    margin-top: 25px;
    margin-left: 21px;
  }

  //nav--opened
  .nav--opened {
    height: 100%;
  }

  .nav--opened .nav__inner {
    height: 100%;
    overflow-y: scroll;
    flex-direction: column;
    background-color: $white;
  }

  .nav--opened .logo__wrapper {
    margin-bottom: 0;
  }

  .nav--opened .nav__list {
    display: flex;
    flex-direction: column;
    padding: 0;
    padding-top: 78px;
    border: none;
  }

  .nav--opened .nav__item {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .nav--opened .nav__link {
    display: block;
    padding: 11px 16px;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: $color-menu;
    background-color: $bg-menu;
    text-align: left;

    &::after {
      position: absolute;
      top: 39%;
      right: 20px;
      width: 10px;
      height: 10px;
      border: 1px solid rgba($color-arrow, 0.5%);
      border-left: none;
      border-bottom: none;
      transform: rotate(45deg);
      content: "";
    }

    &:hover,
    &:focus {
      color: rgba($color-menu, 0.5%);
    }

    &:active {
      color: rgba($color-menu, 0.2%);
    }
  }

  .nav__link:hover::after {
    border-color: $color-arrow;
  }

  .nav--opened .nav__logo {
    display: none;
  }

  .nav__btn {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    background-color: $bg-green;
    border: none;
    cursor: pointer;
    outline: none;

    &:hover,
    &:focus {
      background-color: rgba($bg-green, 0.5%);
    }

    &:active {
      background-color: rgba($bg-green, 0.2%);
    }
  }

  .nav--opened .nav__btn {
    margin-left: auto;
    background-color: transparent;
    outline: none;

    &::before,
    &::after {
      position: absolute;
      top: 23px;
      right: 13px;
      content: "";
      width: 28px;
      height: 1px;
      background-color: rgba($color-menu, 0.2%);
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }

    &:hover::before,
    &:hover::after {
      background-color: rgba($color-menu, 0.7%);
    }
  }

  //nav--closed
  .nav--closed .nav__btn::before {
    position: absolute;
    top: 17px;
    right: 14px;
    width: 22px;
    height: 2px;
    content: "";
    background-color: $black;
    box-shadow: 0 7px 0 0 $black, 0 14px 0 0 $black;
  }

  //Menu no--js
  .nav--nojs {
    position: relative;
  }

  .nav--nojs .nav__inner {
    flex-direction: column;
  }

  .nav--nojs .nav__btn {
    display: none;
  }

  .nav--nojs .nav__list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
    background-color: $white;
  }

  .nav--nojs .nav__item {
    margin-bottom: 30px;
  }

  .nav--nojs .nav__link {
    padding: 11px 16px;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: $color-menu;
    background-color: $bg-menu;

    &:hover,
    &:focus {
      color: rgba($color-menu, 0.5%);
    }

    &:active {
      color: rgba($color-menu, 0.2%);
    }
  }

  .nav--nojs .nav__link--gallery {
    text-align: left;
  }

  .nav--nojs .nav__link--video {
    text-align: left;
  }

  .nav--nojs .nav__link--contacts {
    text-align: left;
  }
}


//mobile
@media (max-width: $mobile-width) {
  .nav__logo {
    margin-left: 17px;
  }
}
