//навигация
.nav {
  position: absolute;
  display: flex;
  flex-direction: column-reverse;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  width: 873px;
  margin: 0;
  padding: 22px 0 7px 22px;
  list-style: none;
  border-bottom: 1px solid rgba($white, 0.2%);
}

.nav__item {
  margin-right: 134px;
}

.nav__item:nth-child(4n) {
  margin-right: 0;
}

.nav__link {
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  line-height: 32px;
  color: rgba($white, 0.7%);
  text-decoration: none;

  &:hover,
  &:focus {
    color: $white;
  }
}

//лого
.logo__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.logo {
  display: block;
  margin-top: 256px;
}

.nav__btn {
  display: none;
}

//tablet
@media (max-width: $tablet-width) {
  .nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .nav__list {
    display: none;
  }

  .logo {
    margin-top: 25px;
    margin-left: 21px;
  }

  .nav__btn {
    display: block;
    width: 50px;
    height: 50px;
    background-color: $bg-green;
    border: none;
    cursor: pointer;
  }

  .nav--closed .nav__btn::before {
    position: absolute;
    top: 17px;
    right: 14px;
    width: 22px;
    height: 2px;
    content: "";
    background-color: $black;
    box-shadow: 0 7px 0 0 $black, 0 14px 0 0 $black;
  }
}

//mobile
@media (max-width: $mobile-width) {
  .logo {
    margin-left: 17px;
  }
}
