.page-header {
  font-family: $font;
  background-color: $black;
  background-image: url(../../img/bg_bike_desktop.jpg);
  background-repeat: no-repeat;
  background-position: 50% 0px;
  padding-bottom: 691px;
}
