.intro-form__wrapper {
  display: flex;
}

.intro {
  width: 327px;
}

.intro__title {
  margin: 0;
  font-size: 46px;
  line-height: 64px;
  font-weight: normal;
  color: $white;
}

.intro__desc {
  margin: 0;
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  color: rgba($white, 0.8%);
}

.form {
  width: 327px;
}

.form__title {
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  color: $white;
  text-align: center;
}
