.main-block {
  padding-top: 319px;
  padding-bottom: 239px;
  margin-bottom: 151px;
  background-color: $black;
  background-image: url("../../img/bg_bike_desktop@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: 1440px 825px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg_bike_desktop@2x.jpg");
  }
}

.main-block__inner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.main-block__intro {
  width: 556px;
  padding-top: 50px;
}

.main-block__intro h2 {
  margin: 0;
  margin-bottom: 25px;
  font-size: 46px;
  line-height: 64px;
  font-weight: bold;
  color: $white;
}

.main-block__intro p {
  padding-right: 140px;
  margin: 0;
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  color: rgba($white, 0.8%);
}

//form
.main-block__form {
  width: 327px;
  margin-top: 5px;
}

.main-block__form h2 {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  color: $white;
  text-align: center;
}

//tablet
@media (max-width: $tablet-width) {
  .main-block {
    padding-top: 86px;
    padding-bottom: 0;
    margin-bottom: 71px;
    background-color: $black;
    background-image: url("../img/bg_bike_tablet.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: contain;
  }

  .main-block__inner {
    display: block;
  }

  .main-block__intro {
    width: 100%;
    margin-bottom: 82px;
  }

  .main-block__intro h2 {
    margin-bottom: 18px;
    font-size: 30px;
    line-height: 42px;
    text-align: center;
  }

  .main-block__intro p {
    padding: 0 150px;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
  }

  .main-block__form {
    width: 100%;
    padding-top: 68px;
    background-color: $white;
  }

  .main-block__form h2 {
    padding: 0 212px;
    margin-bottom: 31px;
    font-size: 18px;
    line-height: 28px;
    color: $black;
  }

  form {
    width: 321px;
    margin: 0 auto;
  }
}

@media (max-width: $mobile-width) {
  .main-block {
    background-image: url("../img/bg_bike_mobile.jpg");
  }

  .main-block__intro {
    margin-bottom: 72px;
    padding-top: 35px;
  }

  .main-block__intro p {
    padding: 0 20px;
  }

  .main-block__form h2 {
    padding: 0 21px;
    margin-bottom: 21px;
  }

  form {
    width: 288px;
  }
}
