.video {
  position: relative;
  background-color: $bg-black;

  &::before {
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 102px;
    background-color: $white;
    content: "";
  }
}

.video__inner {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  min-height: 804px;
  margin-bottom: 148px;
}

.video__title {
  margin: 0;
  margin-bottom: 19px;
  padding-top: 121px;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  color: $white;
  text-align: center;
}

.video__desc {
  width: 340px;
  margin: 0 auto;
  margin-bottom: 56px;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: rgba($white, 0.7%);
  text-align: center;
}

.video__content {
  position: relative;
  display: flex;
  justify-content: center;
  width: 928px;
  margin: 0 auto;
}

.video__btn {
  position: absolute;
  top: 43.5%;
  left: 46.5%;
  width: 65px;
  height: 65px;
  background-color: $bg-green;
  background-image: url("../img/play_icon_desktop.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: none;
  border-radius: 50%;
  content: "";
  cursor: pointer;
  outline: none;

  &:hover,
  &:focus {
    background-color: rgba($bg-green, 0.7%);
  }

  &:active {
    background-color: rgba($bg-green, 0.5%);
  }
}

@media (max-width: $tablet-width) {
  .video::before {
    bottom: -12px;
  }

  .video__inner {
    padding-left: 0;
    padding-right: 0;
    min-height: 413px;
    margin-bottom: 65px;
  }

  .video__title {
    padding-top: 70px;
    font-size: 24px;
    line-height: 30px;
  }

  .video__desc {
    width: 60%;
    margin-bottom: 41px;
  }

  .video__content {
    width: 503px;
  }

  .video__content img {
    width: 503px;
    height: 282px;
  }

  .video__btn {
    top: 33.5%;
    left: 41.5%;
    width: 90px;
    height: 90px;
  }
}

//mobile
@media (max-width: $mobile-width) {
  .video::before {
    bottom: -46px;
  }

  .video__inner {
    padding-left: 16px;
    padding-right: 16px;
    min-height: 383px;
    margin-bottom: 65px;
  }

  .video__title {
    padding-top: 85px;
  }

  .video__desc {
    width: 290px;
    margin-bottom: 54px;
  }

  .video__content {
    width: 288px;
  }

  .video__content img {
    width: 288px;
    height: 161px;
  }

  .video__btn {
    top: 28.5%;
    left: 38.5%;
    width: 65px;
    height: 65px;
  }
}
