.video {
  position: relative;
  min-height: 706px;
  margin-bottom: 250px;
  background-color: $bg-black;
}

.video__title {
  margin: 0;
  margin-bottom: 19px;
  padding-top: 121px;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  color: $white;
  text-align: center;
}

.video__desc {
  margin: 0;
  padding: 0 515px;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: rgba($white, 0.7%);
  text-align: center;
}

.video__content {
  position: absolute;
  top: 283px;
  right: 255px;
}
