.video {
  position: relative;
  background-color: $bg-black;
}

.video__inner {
  min-height: 706px;
  margin-bottom: 250px;
}

.video__title {
  margin: 0;
  margin-bottom: 19px;
  padding-top: 121px;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  color: $white;
  text-align: center;
}

.video__desc {
  margin: 0;
  padding: 0 277px;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: rgba($white, 0.7%);
  text-align: center;
}

.video__content {
  position: absolute;
  top: 283px;
  //right: 50%;
  margin: 0 auto;

  &::before {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    content: url("../../img/play_icon_desktop.svg");
    left: 432px;
    top: 229px;
    width: 65px;
    height: 65px;
    background-color: $bg-green;
    border-radius: 50%;
    cursor: pointer;
  }
}

.video__content:hover::before {
  background-color: red;
}

@media (max-width: $tablet-width) {
  .video__inner {
    min-height: 413px;
    margin-bottom: 155px;
  }

  .video__title {
    padding-top: 70px;
    font-size: 24px;
    line-height: 30px;
  }

  .video__desc {
    padding: 0 160px;
  }

  .video__content {
    top: 216px;
  }

  .video__content img {
    width: 503px;
    height: 282px;
  }
}
