.page {
  height: 100%;
}

.page-body {
  max-width: 1440px;
  min-width: 769px;
  min-height: 100%;
  margin: 0 auto;
  font-family: $font;
  background-color: $white;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  box-sizing: border-box;
  min-width: 1024px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 280px;
  padding-right: 280px;
}
