.btn {
  display: block;
  width: 100%;
  padding: 14px 20px;
  font-weight: 600;
  font-size: 15px;
  line-height: 21px;
  background-color: $bg-green;
  color: $black;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  box-sizing: border-box;

  &:hover,
  &:focus {
    background-color: rgba($bg-green, 0.5%);
  }
}
