.input {
  display: block;
  width: 100%;
  padding: 11px 29px;
  color: rgba($color-input, 0.5%);
  border: 1px solid $bg-border;
  border-radius: 6px;
  box-sizing: border-box;
}

.input--number {
  margin: 0;
  -moz-appearance:textfield;
  -webkit-appearance: none;
}

//tablet
@media (max-width: $tablet-width) {
  .input {
    padding: 11px 22px;
  }
}
